body {
    margin: 0px;
    text-align: center;
    background-size: 1350px;
    background-image: url("https://images.unsplash.com/photo-1591968894173-adcd7f4070ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

hr{
    border: none;
}




#home {
    background-image: url("https://images.unsplash.com/photo-1616185838108-4eabf2e22726?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: 1500px;
    height: 660px;
}

.links {
    color: cornflowerblue;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: cornflowerblue;
    text-decoration: none;
}

.links:hover{
    background-color: yellow;
}

.menu {
    width: 100%;
    list-style: none;
    position: fixed;
    background-color: bisque;
    top: -15px;
}

#myimage {
    width: 280px;
    border-radius: 60px;
    margin-top: 20px;
}

#name1 {
    font-size: 50px;
    font-family: monospace;
}

#name2 {
    font-size: 60px;
    font-family: cursive;
}




#hobbyheader {
    font-family: cursive;
    color: yellow;
    background-image: url("https://images.unsplash.com/photo-1599422090663-ed3dfa1349d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGdyYWRpZW50JTIweWVsbG93JTIwYW5kJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 1500px;
    font-size: 40px;
    
}

#imagehobby {
    border-radius: 80px;
    width: 500px;
    
}

#hobby {
    font-size: 30px;
    color: maroon;
}




#sportheader {
    font-family: cursive;
    color: yellow;
    background-image: url("https://images.unsplash.com/photo-1599422090663-ed3dfa1349d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGdyYWRpZW50JTIweWVsbG93JTIwYW5kJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 1500px;
    font-size: 40px;    
}

#imagesport {
    border-radius: 80px;
    width: 500px;   
}

#sport {
    font-size: 30px;
    color: maroon;
}




#scientistheader {
    font-family: cursive;
    color: yellow;
    background-image: url("https://images.unsplash.com/photo-1599422090663-ed3dfa1349d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGdyYWRpZW50JTIweWVsbG93JTIwYW5kJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 1500px;
    font-size: 40px;    
}




#landmarkheader {
    font-family: cursive;
    color: yellow;
    background-image: url("https://images.unsplash.com/photo-1599422090663-ed3dfa1349d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGdyYWRpZW50JTIweWVsbG93JTIwYW5kJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 1500px;
    font-size: 40px;    
}

#imagelandmark {
    border-radius: 80px;
    width: 500px;   
}

#landmark {
    font-size: 30px;
    color: maroon;
}

#map{
    width: 1000px;
    height: 500px;
}

h3{
    font-family: monospace;
    font-size: 30px;
}